.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 230, 227);
  min-height: 100vh;
  background-color: white;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
      text-decoration: none;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 230, 227);
  }

  .center {
    padding: 0 10px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .title {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin: 15px 0 10px 0;
      }
      .link {
        text-decoration: none;
      }
      li {
        display: flex;
        align-items: center;
        padding: 8px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.2s;

        &:hover {
          background-color: #ece8ff;
          transition: all 0.2s;
        }

        .icon {
          font-size: 18px;
          color: #7451f8;
        }

        span {
          text-transform: capitalize;
          font-size: 13px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    padding: 0 10px;

    .title {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: #999;
      margin: 15px 0 10px 0;
    }
    .colorOptions {
      display: flex;

      .colorOption {
        width: 20px;
        height: 20px;
        border: 1px solid #6439ff;
        border-radius: 5px;
        margin-right: 7px;
        cursor: pointer;

        &:nth-child(1) {
          background-color: whitesmoke;
        }
        &:nth-child(2) {
          background-color: #333;
        }
      }
    }
  }
}
